<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Async Tree - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="../../public/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../public/easyui/themes/icon.css">
    <script type="text/javascript" src="../../public/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        function addFeature() {
            
            var t = $('#tt')
            var node = t.tree('getSelected')
            // create node on the server
            var data = { "text": '新特性', "state": 'closed',  'parent': node.id }
            $.post('/feature/add_feature', data, function(data, textStatus, jqXHR) {
                if(textStatus=='success') {
                    var nodeToAdd = { "id": data.id, "text": data.text, "state": 'closed',  'attributes': {'type': 'feature', 'parent': node.id} }
                    t.tree('append', {
                            parent: (node?node.target:null),
                            data: nodeToAdd
                        })
                    t.tree('collapse', node.target)
                    t.tree('expand', node.target)
                }
            })
        }

        function addScenario() {
            
            var t = $('#tt')
            var node = t.tree('getSelected')
            // create node on the server
            var data = { "text": '新用例', "state": 'open',  'parent': node.id }
            $.post('/feature/add_scenario', data, function(data, textStatus, jqXHR) {
                if(textStatus=='success') {
                    var nodeToAdd = { "id": data.id, "text": data.text, "state": 'open',  'attributes': {'type': 'scenario', 'parent': node.id} }
                    t.tree('append', {
                            parent: (node?node.target:null),
                            data: nodeToAdd
                        })
                    t.tree('collapse', node.target)
                    t.tree('expand', node.target)
                }
            })
        }

        function editFeature() {

            var t = $('#tt')
            var node = t.tree('getSelected')
            t.tree('beginEdit',node.target);
        }

        function editScenario() {

            var t = $('#tt')
            var node = t.tree('getSelected')
            t.tree('beginEdit',node.target);
        }
    </script>
</head>
<body>
    <div class="easyui-layout" style="width:calc(100vw);height:900px;">
    <div region="west" class="easyui-panel" data-options="tools:'#tb'" split="true" title="列表" style="width:20%;">
        <ul id="tt" class="easyui-tree" data-options="
        url: '/feature/get_features',
        method: 'post',
        onContextMenu: function(event,node){
            // turn off browser's context menu
            event.preventDefault();
            
            // select current node
            $(this).tree('select', node.target);
            
            
            if(node.attributes.type == undefined) {
                // this node must have type in attributes
                throw 'unkown node type'
            } else if(node.attributes.type=='feature') {
                // if feature node , display it as a dir
                $('#featuremm').menu('show', { left: event.pageX, top: event.pageY })
            } else {
                // if scenario node, display it as file
                $('#scenariomm').menu('show', { left: event.pageX, top: event.pageY })
            }
        },
        onLoadSuccess: function(node, data) {
            // expand root node
            let t = $('#tt')

            if(t.tree('getRoot'))
                t.tree('expand', t.tree('getRoot').target)  
        }
    "></ul>
    </div>
    <div id="content" region="center" style="width:auto;padding:1px;">
        <div id="tabs" class="easyui-tabs">                    
            <div title="用例"></div>
        </div>
    </div>
</div>
    <div id="featuremm" class="easyui-menu" style="width:120px;">
        <div onclick="addFeature()" data-options="iconCls:'icon-add'">新增特性</div>
        <div onclick="editFeature()" data-options="iconCls:'icon-edit'">编辑特性</div>
        <div onclick="delFeature()" data-options="iconCls:'icon-remove'">删除特性</div>
        <div class="menu-sep"></div>
        <div onclick="addScenario()" data-options="iconCls:'icon-add'">新增用例</div>
        <div onclick="delScenario()" data-options="iconCls:'icon-remove'">删除用例</div>
    </div>
    <div id="scenariomm" class="easyui-menu" style="width:120px;">
        <div onclick="editScenario()" data-options="iconCls:'icon-edit'">编辑用例</div>
        <div onclick="delScenario()" data-options="iconCls:'icon-remove'">删除用例</div>
    </div>
    <div id="tb">
        <a href="javascript:void(0)" class="icon-add" onclick="var t = $('#tt');if(t.tree('getSelected')) t.tree('expandAll', t.tree('getSelected').target); else t.tree('expandAll')"></a>
        <a href="javascript:void(0)" class="icon-remove" onclick="var t = $('#tt');if(t.tree('getSelected')) t.tree('collapseAll', t.tree('getSelected').target); else t.tree('collapseAll')"></a>
    </div>
</body>
</html>